/* 藉由固定寬度來將 FlipClock 置中 */

.your-clock {
  margin: auto;
  padding: 1rem 0;
  width: 465px;
}

/* RWD 化 */
/* TODO: scale 後無法置中 */

@media screen and (max-width: 465px) {
  .your-clock {
    -webkit-transform: scale(0.75, 0.75);
    transform: scale(0.75, 0.75) !important;
    margin: 0 -11.5%;
  }
}

/* 客制化外觀 */

:host /deep/ .flip-clock-wrapper ul li a div div.inn {
  color: #333 !important;
  background-color: #eee !important;
}

:host /deep/ .flip-clock-dot {
  background: #eee !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) !important;
}
