
.frame {
  width: 100%;
  margin: auto;
  padding: 0.3rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(72, 129, 208);
  font-size: 2.2rem;
  color: white;
}

.each {
  display: flex;
  justify-content: center;
  line-height: 3rem;
}

.odd {
  background-color: rgb(27, 63, 139);
}

.end {
  border-radius: 0 0 0.5rem 0.5rem;
}

img {
  width: 2rem;
  height: 2rem;
}