<a target="_blank" [href]="show.link" [title]="show.description | newsContent">
  <div class="news">

    <!-- 配圖區 -->
    <!-- HACK: 依需求隱藏 -->
    <!-- 
      <div class="picture"
    [class.fadeIn]="doFadeIn" [class.fadeOut]="doFadeOut" 
    [style.background-image]="show.thumbnail !== '' ? 'url(' + show.thumbnail + ')' : null">

      <div class="channel" *ngIf="show.channel !== ''" [class.fadeIn]="doFadeIn" [class.fadeOut]="doFadeOut">
        <span [innerHTML]="show.channel"></span>
      </div>
    </div> 
    -->

    <!-- 文字區 -->
    <div class="title" [class.fadeIn]="doFadeIn" [class.fadeOut]="doFadeOut">
      <div> {{show.title}}</div>
    </div>

  </div>
</a>
