/* 連結無底線 */

a {
  text-decoration: none;
}

/* 版塊 */

.news {
  /* 高度及字彩 */
  /* HACK: 因為需顯示圖片，高度不建議低於 150px */
  height: 25vh;
  min-height: 150px;
  color: white;
  /* 標題置底的前置作業 */
  position: relative;
}

/* 底圖 */

.picture {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #232526;
  background: linear-gradient(to top, #FFFDE4, #005AA7);
  background-size: cover;
  background-position: center;
}

/* 標題 */

.title {
  /* 玻璃紙及字體 */
  background: black;
  opacity: .7;
  font-size: 1.5rem;
  font-family: sans-serif;
  /* 置底 */
  position: absolute;
  bottom: 0;
  width: 100%;
}

.title>div {
  margin: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 4rem;
}

/* 頻道 */

.channel {
  text-align: right;
  opacity: .7;
}

.channel>span {
  background: darkred;
  padding: 0 1rem;
}

/* 出入場特效 */

.fadeIn {
  /* transform-origin: left top; */
  animation: fade_in 1s ease-in-out;
}
.fadeOut {
  /* transform-origin: left bottom; */
  animation: fade_out 1s ease-in-out;
}
.fadeIn, .fadeOut {
  animation-fill-mode: forwards;
}

@keyframes fade_in {
  0% {
    transform: translateY(-4rem);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fade_out {
  100% {
    transform: translateY(4.5rem);
    opacity: 0;
  }
}
